name: Deploy Doxygen Docs
on:
 push:
   branches:
     - main
jobs:
 deploy:
   runs-on: ubuntu-latest
   permissions:
     contents: write
   steps:
     # Step 1: Checkout repository
     - name: Checkout repository
       uses: actions/checkout@v3
     # Step 2: Install Doxygen and Graphviz
     - name: Install dependencies
       run: sudo apt-get install doxygen graphviz -y
     # Step 3: Generate Doxygen documentation
     - name: Generate Doxygen docs
       run: doxygen Doxyfile
     # Step 4: Deploy to GitHub Pages
     - name: Deploy to GitHub Pages
       uses: JamesIves/github-pages-deploy-action@v4
       with:
         branch: gh-pages
         folder: Documentation/html